.TodoCounter{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}
.TodoCounter span{
    font-weight: bold;
    color: #61dafa;
}
.TodoCounter--loading{
    opacity: 25%;
}